/* ================= RESPONSIVE ================= */

@media (max-width: 768px) {

  .hero h1 {
    font-size: 38px;
  }

  .hero p {
    font-size: 18px;
  }

  /* menu na mobilu */
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  nav a {
    margin: 5px 10px;
    font-size: 14px;
  }

  .topbar-inner {
    flex-direction: column;
    height: auto;
    padding: 10px 20px;
  }

  .logo {
    margin-bottom: 5px;
  }

  .btn-call {
    margin-top: 5px;
  }

}
